/* style_login.css */

*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    /* Você precisará de uma imagem de fundo. Coloque o nome da sua imagem aqui. */
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #00aaff; /* Cor alterada para combinar com a identidade da ShaulaMed */
    font-size: 35px;
    font-family: Arial, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px;
}
.content{
    width: 1200px;
    height:auto;
    margin: auto;
    color: #fff;
    position: relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial, sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content span{
    color: #00aaff; /* Cor alterada */
    font-size: 60px;
}
.form {
    width: 280px;
    height: 420px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    transform: translate(0%, -5%);
    border-radius: 10px;
    padding: 25px;
}
/* Estilo para o formulário de signup ser um pouco maior */
.form.signup-form {
    height: 520px; 
}
.form h2 {
    width: 100%;
    font-family: sans-serif;
    text-align: center;
    color: #00aaff; /* Cor alterada */
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px auto;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #00aaff; /* Cor alterada */
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family: Arial, sans-serif;
}
.btnn{
    width: 240px;
    height: 40px;
    background: #00aaff; /* Cor alterada */
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #00aaff; /* Cor alterada */
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #00aaff; /* Cor alterada */
}