# Ambiente Virtual
venv/

# Ficheiros de Cache do Python
__pycache__/
*.pyc

# Ficheiros de configuração de IDEs
.vscode/
.idea/

# Ficheiros de Segredos (APENAS A CHAVE MESTRA)
firebase-credentials.json