# Ambiente Virtual
venv/

# Ficheiros de Cache do Python
__pycache__/
*.pyc

# Ficheiros de configuração de IDEs
.vscode/
.idea/

# Ficheiros de Segredos e Chaves de API
firebase-credentials.json
firebase_config.py