# Dependências do Back-End (API)
fastapi
uvicorn
pydantic
rich
openai
firebase-admin  # <--- ADICIONADO AQUI

# Dependências do Front-End (Streamlit)
streamlit
requests
streamlit-mic-recorder
openai-whisper
soundfile
numpy
ffmpeg-python
pyrebase4

# Dependências Partilhadas (IA e Processamento)
openai-whisper
soundfile
numpy
ffmpeg-python