# Dependências do Back-End (API)
fastapi
uvicorn
pydantic
rich
openai
firebase-admin
openai-whisper
soundfile
numpy
ffmpeg-python

# Dependências do Front-End (Streamlit)
streamlit
requests
streamlit-mic-recorder
pyrebase4